
.Booking_main_div{
    width: 100%;
    height: 1000px;
    margin: auto;
  
}

.Book_div{
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 60px;
   
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.image_div{
     width: 40%;
     height: 100%;
    
}
.image_div img{
   width: 90%;
   height: 70%;
   border-radius: 10px;
}
.Book_now_div{
    width: 60%;
    height: 100%;
   

}
.Booking_card{
    width: 570px;
    height: auto;
    padding:15px 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card_top_div{
    width: 100%;
  
    padding: 13px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
   

}

.card_bottom_div{
    width: 100%;
    padding: 10px 12px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butnow_btn{
    width: 100px;
    height: 30px;
    margin-top:15px;
    font-size: 10px;
    border-radius: 50px;
    color: #FFFFFF;
    background:#FF3333
}

.TestCarousel_div{
    width: 60%;
    height: 70vh;
    margin-left: 40%;
    padding: 35px;
   
}
.Test_Include_box,.Healthians_box{
    width: 88%;
    height: 25vh;
  
   
   

}

.Healthians_box{
    
  margin-top: 30px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}



/* @media all and (min-width:481px)and (max-width:768px){

 }
 
 @media all and (min-width:320px)and (max-width:480px){
  
 } */