.middle6_flex-box>:nth-child(1){
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_350,ar_1.164,q_auto:eco,dpr_1.0700000524520874,f_auto,fl_progressive//image/test/four-square-card/glass-transform-multi-color-2.png");
    background-repeat: no-repeat;
    
}
.middle6_flex-box div{
    height: 300px;
    width: 390px;
}
.middle6_flex-box{
    display: flex;
    justify-content: space-evenly;
}

.middle6_flex-box>:nth-child(2){
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_350,ar_1.164,q_auto:eco,dpr_1.0700000524520874,f_auto,fl_progressive//image/test/four-square-card/glass-transform-multi-color-2.png");
    background-repeat: no-repeat;
    
}